<form action="" class="uts-form uts-form-horizontal uts-form-hide-required-mark container-fluid">
    <div class="row uts-form-item">
        <div class="uts-form-item-label col-lg-2 col-md-2 col-sm-2 col-xl-4">
            <label for="title" class="uts-form-item-required" title=""><span>手机号</span></label>
        </div>
        <div class="uts-form-item-control-wrapper col-lg-10 col-md-10 col-sm-10 col-xl-8">
            <div class="uts-form-item-control">
                <span class="uts-form-item-children">
                    <input placeholder="请输入手机号" type="tel" data-toggle="inputs" data-vali="phone,notnull" class="uts-input" value="">
                </span>
            </div>
        </div>
    </div>
    <div class="row uts-form-item">
        <div class="uts-form-item-label col-lg-2 col-md-2 col-sm-2 col-xl-4">
            <label for="title" class="uts-form-item-required" title=""><span>身份证</span></label>
        </div>
        <div class="uts-form-item-control-wrapper col-lg-10 col-md-10 col-sm-10 col-xl-8">
            <div class="uts-form-item-control">
                <span class="uts-form-item-children">
                    <input placeholder="请输入身份证号码" data-toggle="inputs" data-vali="idcard,notnull" type="text" class="uts-input" value="">
                </span>
            </div>
        </div>
    </div>
    <div class="row uts-form-item">
        <div class="uts-form-item-label col-lg-2 col-md-2 col-sm-2 col-xl-4">
            <label for="title" class="uts-form-item-required" title=""><span>邮箱</span></label>
        </div>
        <div class="uts-form-item-control-wrapper col-lg-10 col-md-10 col-sm-10 col-xl-8">
            <div class="uts-form-item-control">
                <span class="uts-form-item-children">
                    <input placeholder="请输入邮箱" data-toggle="inputs" data-vali="email,notnull" type="email" class="uts-input" value="">
                </span>
            </div>
        </div>
    </div>
    <div class="row uts-form-item">
        <div class="uts-form-item-label col-lg-2 col-md-2 col-sm-2 col-xl-4">
            <label for="title" class="uts-form-item-required" title=""><span>目标描述</span></label>
        </div>
        <div class="uts-form-item-control-wrapper col-lg-10 col-md-10 col-sm-10 col-xl-8">
            <div class="uts-form-item-control">
                <span class="uts-form-item-children">
                    <textarea placeholder="请输入你的阶段性工作目标" data-toggle="inputs" rows="4" class="uts-input"></textarea>
                </span>
            </div>
        </div>
    </div>
</form>