<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>
    <div class="entry clearfix">
        <div class="entry-item">
            <div class="form">
                <div class="form-container">
                    <div class="form-tabs">
                        <div class="form-tabs-bar clearfix">
                            <div class="form-tabs-tab form-tabs-tab--selected">
                                <span class="tab-inner">UTS 5.0</span>
                                <p class="tab-inner-sub">
                                    成都环球国际旅行有限公司
                                </p>
                            </div>
                        </div>
                        <div class="form-tabs-item form-tabs-item--active">
                            <div class="form-tabs-panel">
                                <div class="login-panel">
                                    <div class="input">
                                        <input class="input__field"  type="text" id="username" maxlength="15">
                                        <div class="item word word-username"></div>
                                        <div class="item underline">
                                            <div class="check--pass"></div>
                                            <div class="check--error"></div>
                                        </div>
                                    </div>
                                    <div class="input">
                                        <input class="input__field" type="password" id="pwd" tabindex="2" maxlength="16">
                                        <div class="item word word-password"></div>
                                        <div class="item underline">
                                            <div class="check--pass"></div>
                                            <div class="check--error"></div>
                                        </div>
                                    </div>
                                    <div class="input">
                                        <input class="input__field" type="text" id="code" autocomplete="off" tabindex="3" maxlength="4">
                                        <div class="item word word-code"></div>
                                        <div class="item underline">
                                            <div class="check--pass"></div>
                                            <div class="check--error"></div>
                                        </div>
                                        <div class="item code">
                                            <img src="<%= require('../../assets/imgs/1543375667(1).jpg')%>" alt="">
                                        </div>
                                    </div>
                                    <div class="btn-submit">
                                        <div class="el-button">登录</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="entry-item">
            <div class="slider-panel">
                <%= require('html-loader!../../components/slider/slider.html')  %>
            </div>
        </div>
    </div>
    
</body>

</html>