<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>
    <div class="container-fluid">
        <div class="uts-components-pageHeader">
            <div class="uts-components-breadcrumb uts-breadcrumb">
                <span>
                    <span class="uts-breadcrumb-link">
                        <a href="/">
                            <span>
                                首页
                            </span>
                        </a>
                    </span>
                    <span class="uts-breadcrumb-separator">
                        /
                    </span>
                </span>
                <span>
                    <span class="uts-breadcrumb-link">
                        <span to="/profile">
                            <span>
                                合同管理
                            </span>
                        </span>
                    </span>
                    <span class="uts-breadcrumb-separator">
                        /
                    </span>
                </span>
                <span>
                    <span class="uts-breadcrumb-link">
                        <span to="/profile/advanced">
                            <span>
                                电子合同
                            </span>
                        </span>
                    </span>
                    <span class="uts-breadcrumb-separator">
                        /
                    </span>
                </span>
            </div>
            <div class="uts-components-detail">
                <div class="uts-components-logo">
                    <img alt="" src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png">
                </div>
                <div class="uts-components-main">
                    <div class="uts-components-row">
                        <h1 class="uts-components-title">
                            合同号：1078946
                        </h1>
    
                    </div>
                    <div class="uts-components-row">
                        <div class="uts-components-content">
                            <div class="uts-components-description-descriptionList uts-pages-profile-advanced-profile-headerList uts-components-description-small">
                                <div class=" row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="uts-components-description-term">
                                            创建人
                                        </div>
                                        <div class="uts-components-description-detail">
                                            鲜里
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" >
                                        <div class="uts-components-description-term">
                                            合同类型
                                        </div>
                                        <div class="uts-components-description-detail">
                                            国内常规
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" >
                                        <div class="uts-components-description-term">
                                            创建时间
                                        </div>
                                        <div class="uts-components-description-detail">
                                            2018-12-21
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" >
                                        <div class="uts-components-description-term">
                                            形程名称
                                        </div>
                                        <div class="uts-components-description-detail">
                                            <a href="">
                                                国内
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" >
                                        <div class="uts-components-description-term">
                                            生效日期
                                        </div>
                                        <div class="uts-components-description-detail">
                                            2017-07-07 ~ 2017-08-08
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" >
                                        <div class="uts-components-description-term">
                                            备注
                                        </div>
                                        <div class="uts-components-description-detail">
                                            请勿填写"/"等特殊字符，如不填该选项，请用"0"代替
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uts-components-extraContent">
                            <div class=" row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="uts-pages-profile-advanced-profile-textSecondary">
                                        状态
                                    </div>
                                    <div class="uts-pages-profile-advanced-profile-heading">
                                        待审批
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="uts-pages-profile-advanced-profile-textSecondary">
                                        合同金额
                                    </div>
                                    <div class="uts-pages-profile-advanced-profile-heading">
                                        ¥ 568.08
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uts-components-page-header-wrapper-index-content">
            <div class="uts-components-page-header-wrapper-grid-content-main">
                <div class="uts-card uts-card-wider-padding uts-card-padding-transition" style="margin-bottom: 24px;">
                    <div class="uts-card-head">
                        <div class="uts-card-head-wrapper">
                            <div class="uts-card-head-title">合同填写</div>
                        </div>
                    </div>
                    <div class="uts-card-body">
                        
                    </div>
                </div>
                <div class="uts-card uts-card-wider-padding uts-card-padding-transition" style="margin-bottom: 24px;">
                    <div class="uts-card-head">
                        <div class="uts-card-head-wrapper">
                            <div class="uts-card-head-title">用户信息</div>
                        </div>
                    </div>
                    <div class="uts-card-body">
                        <div class="uts-components-description-descriptionList" style="margin-bottom: 24px;">
                            <div class="" style="margin-left: -16px; margin-right: -16px;">
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">用户姓名</div>
                                    <div class="uts-components-description-detail">付小小</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">会员卡号</div>
                                    <div class="uts-components-description-detail">32943898021309809423</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">身份证</div>
                                    <div class="uts-components-description-detail">3321944288191034921</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">联系方式</div>
                                    <div class="uts-components-description-detail">18112345678</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">联系地址</div>
                                    <div class="uts-components-description-detail">曲丽丽 18100000000
                                        浙江省杭州市西湖区黄姑山路工专路交叉路口</div>
                                </div>
                            </div>
                        </div>
                        <div class="uts-components-description-descriptionList" style="margin-bottom: 24px;">
                            <div class="uts-components-description-title">信息组</div>
                            <div class="" style="margin-left: -16px; margin-right: -16px;">
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">某某数据</div>
                                    <div class="uts-components-description-detail">725</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">该数据更新时间</div>
                                    <div class="uts-components-description-detail">2017-08-08</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-detail">&nbsp;</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term"><span>某某数据<i class="utsicon utsicon-info-circle-o"
                                                style="color: rgba(0, 0, 0, 0.43); margin-left: 4px;"><svg viewBox="64 64 896 896"
                                                    class="" data-icon="info-circle" width="1em" height="1em" fill="currentColor"
                                                    aria-hidden="true">
                                                    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>
                                                    <path d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z"></path>
                                                </svg></i></span></div>
                                    <div class="uts-components-description-detail">725</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                    <div class="uts-components-description-term">该数据更新时间</div>
                                    <div class="uts-components-description-detail">2017-08-08</div>
                                </div>
                            </div>
                        </div>
                        <h4 style="margin-bottom: 16px;">信息组</h4>
                        <div class="uts-card uts-card-bordered uts-card-wider-padding uts-card-padding-transition uts-card-type-inner">
                            <div class="uts-card-head">
                                <div class="uts-card-head-wrapper">
                                    <div class="uts-card-head-title">多层级信息组</div>
                                </div>
                            </div>
                            <div class="uts-card-body">
                                <div class="uts-components-description-descriptionList uts-components-description-small"
                                    style="margin-bottom: 16px;">
                                    <div class="uts-components-description-title">组名称</div>
                                    <div class="" style="margin-left: -16px; margin-right: -16px;">
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">负责人</div>
                                            <div class="uts-components-description-detail">林东东</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">角色码</div>
                                            <div class="uts-components-description-detail">1234567</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">所属部门</div>
                                            <div class="uts-components-description-detail">XX公司 - YY部</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">过期时间</div>
                                            <div class="uts-components-description-detail">2017-08-08</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">描述</div>
                                            <div class="uts-components-description-detail">这段描述很长很长很长很长很长很长很长很长很长很长很长很长很长很长...</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uts-divider uts-divider-horizontal" style="margin: 16px 0px;"></div>
                                <div class="uts-components-description-descriptionList uts-components-description-small"
                                    style="margin-bottom: 16px;">
                                    <div class="uts-components-description-title">组名称</div>
                                    <div class="" style="margin-left: -16px; margin-right: -16px;">
                                        <div class="uts-col-xs-24" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">学名</div>
                                            <div class="uts-components-description-detail">Citrullus lanatus
                                                (Thunb.) Matsum. et Nakai一年生蔓生藤本；茎、枝粗壮，具明显的棱。卷须较粗..</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uts-divider uts-divider-horizontal" style="margin: 16px 0px;"></div>
                                <div class="uts-components-description-descriptionList uts-components-description-small">
                                    <div class="uts-components-description-title">组名称</div>
                                    <div class="" style="margin-left: -16px; margin-right: -16px;">
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">负责人</div>
                                            <div class="uts-components-description-detail">付小小</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4" style="padding-left: 16px; padding-right: 16px;">
                                            <div class="uts-components-description-term">角色码</div>
                                            <div class="uts-components-description-detail">1234568</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uts-card uts-card-wider-padding uts-card-padding-transition" style="margin-bottom: 24px;">
                    <div class="uts-card-head">
                        <div class="uts-card-head-wrapper">
                            <div class="uts-card-head-title">用户近半年来电记录</div>
                        </div>
                    </div>
                    <div class="uts-card-body">
                        <div class="uts-pages-profile-advanced-profile-noData"><i class="utsicon utsicon-frown-o"><svg
                                    viewBox="64 64 896 896" class="" data-icon="frown" width="1em" height="1em" fill="currentColor"
                                    aria-hidden="true">
                                    <path d="M288 421a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm352 0a48 48 0 1 0 96 0 48 48 0 1 0-96 0zM512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm263 711c-34.2 34.2-74 61-118.3 79.8C611 874.2 562.3 884 512 884c-50.3 0-99-9.8-144.8-29.2A370.4 370.4 0 0 1 248.9 775c-34.2-34.2-61-74-79.8-118.3C149.8 611 140 562.3 140 512s9.8-99 29.2-144.8A370.4 370.4 0 0 1 249 248.9c34.2-34.2 74-61 118.3-79.8C413 149.8 461.7 140 512 140c50.3 0 99 9.8 144.8 29.2A370.4 370.4 0 0 1 775.1 249c34.2 34.2 61 74 79.8 118.3C874.2 413 884 461.7 884 512s-9.8 99-29.2 144.8A368.89 368.89 0 0 1 775 775zM512 533c-85.5 0-155.6 67.3-160 151.6a8 8 0 0 0 8 8.4h48.1c4.2 0 7.8-3.2 8.1-7.4C420 636.1 461.5 597 512 597s92.1 39.1 95.8 88.6c.3 4.2 3.9 7.4 8.1 7.4H664a8 8 0 0 0 8-8.4C667.6 600.3 597.5 533 512 533z"></path>
                                </svg></i>暂无数据</div>
                    </div>
                </div>
                <div class="uts-card uts-pages-profile-advanced-profile-tabsCard uts-card-wider-padding uts-card-padding-transition uts-card-contain-tabs">
                    <div class="uts-card-head">
                        <div class="uts-card-head-wrapper"></div>
                        <div class="uts-tabs uts-tabs-top uts-card-head-tabs uts-tabs-large uts-tabs-line">
                            <div role="tablist" class="uts-tabs-bar uts-tabs-top-bar uts-tabs-large-bar" tabindex="0">
                                <div class="uts-tabs-nav-container"><span unselectable="unselectable" class="uts-tabs-tab-prev uts-tabs-tab-btn-disabled"><span
                                            class="uts-tabs-tab-prev-icon"><i class="utsicon utsicon-left uts-tabs-tab-prev-icon-target"><svg
                                                    viewBox="64 64 896 896" class="" data-icon="left" width="1em" height="1em"
                                                    fill="currentColor" aria-hidden="true">
                                                    <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path>
                                                </svg></i></span></span><span unselectable="unselectable" class="uts-tabs-tab-next uts-tabs-tab-btn-disabled"><span
                                            class="uts-tabs-tab-next-icon"><i class="utsicon utsicon-right uts-tabs-tab-next-icon-target"><svg
                                                    viewBox="64 64 896 896" class="" data-icon="right" width="1em" height="1em"
                                                    fill="currentColor" aria-hidden="true">
                                                    <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path>
                                                </svg></i></span></span>
                                    <div class="uts-tabs-nav-wrap">
                                        <div class="uts-tabs-nav-scroll">
                                            <div class="uts-tabs-nav uts-tabs-nav-animated">
                                                <div>
                                                    <div role="tab" aria-disabled="false" aria-selected="true" class="uts-tabs-tab-active uts-tabs-tab">操作日志一</div>
                                                    <div role="tab" aria-disabled="false" aria-selected="false" class=" uts-tabs-tab">操作日志二</div>
                                                    <div role="tab" aria-disabled="false" aria-selected="false" class=" uts-tabs-tab">操作日志三</div>
                                                </div>
                                                <div class="uts-tabs-ink-bar uts-tabs-ink-bar-animated" style="display: block; transform: translate3d(0px, 0px, 0px); width: 112px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden;"></div>
                            <div class="uts-tabs-content uts-tabs-content-animated uts-tabs-top-content" style="margin-left: 0%;">
                                <div role="tabpanel" aria-hidden="false" class="uts-tabs-tabpane uts-tabs-tabpane-active">
                                    <div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden;"></div>
                                    <div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden;"></div>
                                </div>
                                <div role="tabpanel" aria-hidden="true" class="uts-tabs-tabpane uts-tabs-tabpane-inactive"></div>
                                <div role="tabpanel" aria-hidden="true" class="uts-tabs-tabpane uts-tabs-tabpane-inactive"></div>
                            </div>
                            <div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden;"></div>
                        </div>
                    </div>
                    <div class="uts-card-body">
                        <div class="uts-table-wrapper">
                            <div class="uts-spin-nested-loading">
                                <div class="uts-spin-container">
                                    <div class="uts-table uts-table-default uts-table-scroll-position-left">
                                        <div class="uts-table-content">
                                            <div class="uts-table-body">
                                                <table class="">
                                                    <colgroup>
                                                        <col>
                                                        <col>
                                                        <col>
                                                        <col>
                                                        <col>
                                                    </colgroup>
                                                    <thead class="uts-table-thead">
                                                        <tr>
                                                            <th class="">
                                                                <div>操作类型</div>
                                                            </th>
                                                            <th class="">
                                                                <div>操作人</div>
                                                            </th>
                                                            <th class="">
                                                                <div>执行结果</div>
                                                            </th>
                                                            <th class="">
                                                                <div>操作时间</div>
                                                            </th>
                                                            <th class="">
                                                                <div>备注</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="uts-table-tbody">
                                                        <tr class="uts-table-row uts-table-row-level-0" data-row-key="op1">
                                                            <td class=""><span class="uts-table-row-indent indent-level-0"
                                                                    style="padding-left: 0px;"></span>订购关系生效</td>
                                                            <td class="">曲丽丽</td>
                                                            <td class=""><span class="uts-badge uts-badge-status uts-badge-not-a-wrapper"><span
                                                                        class="uts-badge-status-dot uts-badge-status-success"></span><span
                                                                        class="uts-badge-status-text">成功</span></span></td>
                                                            <td class="">2017-10-03 19:23:12</td>
                                                            <td class="">-</td>
                                                        </tr>
                                                        <tr class="uts-table-row uts-table-row-level-0" data-row-key="op2">
                                                            <td class=""><span class="uts-table-row-indent indent-level-0"
                                                                    style="padding-left: 0px;"></span>财务复审</td>
                                                            <td class="">付小小</td>
                                                            <td class=""><span class="uts-badge uts-badge-status uts-badge-not-a-wrapper"><span
                                                                        class="uts-badge-status-dot uts-badge-status-error"></span><span
                                                                        class="uts-badge-status-text">驳回</span></span></td>
                                                            <td class="">2017-10-03 19:23:12</td>
                                                            <td class="">不通过原因</td>
                                                        </tr>
                                                        <tr class="uts-table-row uts-table-row-level-0" data-row-key="op3">
                                                            <td class=""><span class="uts-table-row-indent indent-level-0"
                                                                    style="padding-left: 0px;"></span>部门初审</td>
                                                            <td class="">周毛毛</td>
                                                            <td class=""><span class="uts-badge uts-badge-status uts-badge-not-a-wrapper"><span
                                                                        class="uts-badge-status-dot uts-badge-status-success"></span><span
                                                                        class="uts-badge-status-text">成功</span></span></td>
                                                            <td class="">2017-10-03 19:23:12</td>
                                                            <td class="">-</td>
                                                        </tr>
                                                        <tr class="uts-table-row uts-table-row-level-0" data-row-key="op4">
                                                            <td class=""><span class="uts-table-row-indent indent-level-0"
                                                                    style="padding-left: 0px;"></span>提交订单</td>
                                                            <td class="">林东东</td>
                                                            <td class=""><span class="uts-badge uts-badge-status uts-badge-not-a-wrapper"><span
                                                                        class="uts-badge-status-dot uts-badge-status-success"></span><span
                                                                        class="uts-badge-status-text">成功</span></span></td>
                                                            <td class="">2017-10-03 19:23:12</td>
                                                            <td class="">很棒</td>
                                                        </tr>
                                                        <tr class="uts-table-row uts-table-row-level-0" data-row-key="op5">
                                                            <td class=""><span class="uts-table-row-indent indent-level-0"
                                                                    style="padding-left: 0px;"></span>创建订单</td>
                                                            <td class="">汗牙牙</td>
                                                            <td class=""><span class="uts-badge uts-badge-status uts-badge-not-a-wrapper"><span
                                                                        class="uts-badge-status-dot uts-badge-status-success"></span><span
                                                                        class="uts-badge-status-text">成功</span></span></td>
                                                            <td class="">2017-10-03 19:23:12</td>
                                                            <td class="">-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>