@import '../../common/css/variable.less';


.uts-form-item-price {
    span{
        color: #ff5400;
    font-size: 30px;
    font-weight: 600;
    }
}
.uts-form-btn-submit {
    margin-top: 80px;
    width: 400px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    button{
        width: 100%
    }
}
