<!DOCTYPE html>
<html>

<head>
  <%= require('html-loader!../../components/meta/meta.html')  %>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

</head>

<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1">
          <button type="button" class="el-button el-button--primary is-round" data-url="login"><span>登录页面</span></button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1">
          <button type="button" class="el-button el-button--primary is-round" data-url="admin-index"><span>后台主界面</span></button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1">
          <button type="button" class="el-button el-button--primary is-round" data-url="crm-form"><span>CRM 表单</span></button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1">
          <button type="button" class="el-button el-button--primary is-round" data-url="login"><span>待开发</span></button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xl-1">
          <button type="button" class="el-button el-button--primary is-round" data-url="login"><span>待开发</span></button>
        </div>
      </div>
    </div>
    
</body>

</html>