<div class="uts-title-box clearfix" id="uts_title">
    <div class="uts-btn-default uts-press uts-pull-left hide" id="goLeft">
        <i class="fa fa-chevron-left"></i>
    </div>
    <ul class="uts-tab-title uts-breadcrumb" id="uts_tab_title">
        <li id="uts_home" class="uts-tab-active">
            <i class="fa fa-home fa-fw" data-font="uts-icon"></i><cite>后台首页</cite>
        </li>

       
    </ul>
    <div class="uts-btn-group clearfix">
        <div class="uts-btn-default uts-press uts-pull-right hide" id="goRight">
            <i class="fa fa-chevron-right"></i>
        </div>
        <div class="refresh uts-press refreshThen" id="uts_refresh">
            <i class="fa fa-chevron-down fa-2x"></i>
            <dl class="uts-nav-child">
                <dd utsadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd utsadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd utsadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
            </dl>
        </div>
    </div>
</div>