<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>
    <div id="root">
        <div class="screen-xl">
            <div class="uts-layout uts-layout-has-sider">
                <div class="uts-layout-left">
                    <%= require('html-loader!../../components/sider-left/sider-left.html')  %>
                </div>
                <div class="uts-layout">
                    <!--顶部导航-->
                    <div class="uts-layout-header utsms-header" id="larry_head">
                        
                    </div>
                    <!--内容主体-->
                    <div class="uts-layout-content">
                        
                    </div>
                    <!--底部固定区域-->
                    <div class="uts-layout-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>