<div class="uts-components-header-header">
    <span class="uts-components-header-trigger" pmenuid="0">
        <i class="utsicon fa fa-dedent">
            
        </i>
    </span>
    <div class="uts-components-header-right">
        <span class="uts-components-header-action uts-components-header-search uts-components-header-search-headerSearch">
            <i class="utsicon fa fa-search fa-fw">
                
            </i>
        </span>
        <a target="_blank" href="#" rel="noopener noreferrer" class="uts-components-header-action">
            <i class="utsicon fa fa-question-circle-o fa-2x fa-fw">
               
            </i>
        </a>
        <span class="uts-components-header-action uts-components-notice-icon-noticeButton uts-dropdown-trigger" data-toggle="dropdown">
            <span class="uts-badge">
                <i class="utsicon fa fa-bell-o uts-components-notice-icon fa-fw">
                   
                </i>
                <sup data-show="true" class="uts-scroll-number uts-badge-count uts-badge-multiple-words" title="11" style="box-shadow: none;">
                    <span class="uts-scroll-number-only" style="transition: none 0s ease 0s; transform: translateY(-1100%);">
                        <p class="current">0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                        <p>0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                        <p>0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                    </span>
                    <span class="uts-scroll-number-only" style="transition: none 0s ease 0s; transform: translateY(-1100%);">
                        <p class="current">0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                        <p>0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                        <p>0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                    </span>
                </sup>
            </span>
            <div class="uts-dropdown uts-dropdown-menu-list uts-page-moveToTopFade">
                <h5>消息<span class="msg-clear-all" id="clearMsg">清除所有</span></h5>
                <div class="uts-dropdown-scroll">
                    <div class="uts-dropdown-box">
                        <div class="uts-dropdown-item" data-url="admin/panel/message.html?aid=1" data-id="12" data-group="0">
                            <div class="uts-dropdown-icon uts-bg-warning"><i class="fa fa-2x fa-envelope-square"></i></div>
                            <div class="uts-dropdown-detail">
                                <h6>您有来自月亮的1封未读邮件！</h6>
                                <cite>1分钟前</cite>
                            </div>
                        </div>
                        <div class="uts-dropdown-item" data-url="admin/panel/message.html?aid=1" data-id="12" data-group="0">
                            <div class="uts-dropdown-icon uts-bg-blue"><i class="fa fa-2x fa-users"></i></div>
                            <div class="uts-dropdown-detail">
                                <h6>新用户注册</h6>
                                <cite>1分钟前</cite>
                            </div>
                        </div>
                        <div class="uts-dropdown-item" data-url="admin/panel/message.html?aid=1" data-id="12" data-group="0">
                            <div class="uts-dropdown-icon uts-bg-dark"><i class="fa fa-2x fa-exclamation-circle"></i></div>
                            <div class="uts-dropdown-detail">
                                <h6>你有一封邮件待审批</h6>
                                <cite>1分钟前</cite>
                            </div>
                        </div>
                        <div class="uts-dropdown-item" data-url="admin/panel/message.html?aid=1" data-id="12" data-group="0">
                            <div class="uts-dropdown-icon uts-bg-info"><i class="fa fa-2x fa-comment"></i></div>
                            <div class="uts-dropdown-detail">
                                <h6>社区通知</h6>
                                <cite>1分钟前</cite>
                            </div>
                        </div>
                        <div class="uts-dropdown-item" data-url="admin/panel/message.html?aid=1" data-id="12" data-group="0">
                            <div class="uts-dropdown-icon uts-bg-green"><i class="fa fa-2x fa-flag"></i></div>
                            <div class="uts-dropdown-detail">
                                <h6>UTS 5.0发布更新</h6>
                                <cite>1分钟前</cite>
                            </div>
                        </div>
                        <div class="uts-dropdown-item" data-url="admin/panel/message.html?aid=1" data-id="12" data-group="0">
                            <div class="uts-dropdown-icon uts-bg-danger"><i class="fa fa-2x fa-volume-up"></i></div>
                            <div class="uts-dropdown-detail">
                                <h6>系统消息</h6>
                                <cite>1分钟前</cite>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uts-dropdown-look" larry-tab="page" data-group="0" data-url="admin/panel/message.html" data-id="12" id="viewMsg">
                    查看全部
                </div>
            </div>
        </span>
        <span class="uts-components-header-action uts-components-header-account uts-dropdown-trigger" data-toggle="dropdown">
            <span class="uts-avatar uts-components-header-avatar uts-avatar-sm uts-avatar-circle uts-avatar-image">
                <img src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png" alt="avatar">
            </span>
            <span class="uts-components-header-name">
                Serati Ma
            </span>
           
                <ul class="uts-dropdown uts-page-moveToTopFade uts-dropdown-menu uts-components-header-menu uts-dropdown-menu-light uts-dropdown-menu-root uts-dropdown-menu-vertical" role="menu">
                    <li class="uts-dropdown-menu-item" role="menuitem"><i class="utsicon fa fa-user-o"></i> <span>个人中心</span></li>
                    <li class="uts-dropdown-menu-item" role="menuitem"><i class="utsicon fa fa-edit"></i><span>个人设置</span></li>
    
                    <li class="uts-dropdown-menu-item-divider"></li>
                    <li class="uts-dropdown-menu-item" role="menuitem"><i class="utsicon fa fa-sign-out"></i><span>退出登录</span></li>
                </ul>
            
        </span>
        
    </div>
</div>